<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GMOD_Dedicated_Server.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GMOD_Dedicated_Server.My.MySettings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="StartupMap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxPlayers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="portnumber" serializeAs="String">
                <value />
            </setting>
            <setting name="RCONPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LAN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mPropss" serializeAs="String">
                <value />
            </setting>
            <setting name="mRagss" serializeAs="String">
                <value />
            </setting>
            <setting name="mNPCss" serializeAs="String">
                <value />
            </setting>
            <setting name="mBallss" serializeAs="String">
                <value />
            </setting>
            <setting name="mEffss" serializeAs="String">
                <value />
            </setting>
            <setting name="mDynss" serializeAs="String">
                <value />
            </setting>
            <setting name="mLampss" serializeAs="String">
                <value />
            </setting>
            <setting name="mThrusts" serializeAs="String">
                <value />
            </setting>
            <setting name="mWheess" serializeAs="String">
                <value />
            </setting>
            <setting name="mHovess" serializeAs="String">
                <value />
            </setting>
            <setting name="mVehiss" serializeAs="String">
                <value />
            </setting>
            <setting name="mButtss" serializeAs="String">
                <value />
            </setting>
            <setting name="mSentss" serializeAs="String">
                <value />
            </setting>
            <setting name="mEmitss" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadingURLss" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadURLss" serializeAs="String">
                <value />
            </setting>
            <setting name="mSpawnss" serializeAs="String">
                <value />
            </setting>
            <setting name="mTurrss" serializeAs="String">
                <value />
            </setting>
        </GMOD_Dedicated_Server.My.MySettings>
    </userSettings>
</configuration>